body {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    /* opacity: 0.24; */
    background: #090B1A;
    color: #fff;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-container img {
    height: 50px; 
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #0DBF81;
    color: black;
} 


/* hero page */

 .hero {
    color: #fff;
    display: flex;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 2.3rem;
}

.hero_text {
    padding: 4rem 0;
    margin: 0 auto; 
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0DBF81;
    
}

.social-links{
    padding-top: 2rem;    
}

.hero span {
    color: #0DBF81;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero_img {
    padding-right: 3rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #0DBF81;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0DBF81;
    
} 

/*.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    /* background-color: #f4f4f4;
}

.hero-content {
    text-align: center;
    padding: 20px; 
}

.hero_text h1 {
    color: #0DBF81;
}

.hero_text {
    max-width: 600px; 
    margin: 0 auto;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #0DBF81;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0DBF81;
}
*/


/* about */

    /* #about {
        padding: 50px;
    } */

#about h2 {
    padding-left: 40rem;
}

#about span {
    color: #0DBF81;
    font-size: 25px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.about_details {
    padding-left: 5rem; 
    line-height: 2rem;
}

.about_img {
    width: 271px;
    height: 405px;
    flex-shrink: 0;
}

#about h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* services */

#services {
    padding: 50px;
}

#services h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.services-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.service_design,
.service_ux,
.service_graphics {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.service_design img,
.service_ux img,
.service_graphics img {
    max-width: 100%;
    height: auto;
}

.service_design h3,
.service_ux h3,
.service_graphics h3 {
    color: #0DBF81;
    font-size: 24px;
    margin-bottom: 15px;
}

.service_design p,
.service_ux p,
.service_graphics p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* skills */

#skills {
    padding: 60px;
    
}

#skills h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-left: 30rem
}

.skill {
    /* margin-bottom: 20px; */
    /* text-align: center; */
    margin: 0 auto;
}

.skill-name {
    color: #FFF;
    font-family: Nunito;
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: 5rem;
    padding-left: 1rem;
}

.skill-bar {
    height: 20px;
    background-color: #0DBF81;
    border-radius: 5px;
}

/* portfolio */


/* #portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */

#portfolio h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-left: 30rem
}

#portfolio img {
    width: 257px;
    height: 234px;
    flex-shrink: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    margin-left: 21rem;
    margin-right: 27rem;
}

.project_details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project p,
h3 {
    padding-top: 1px;
}

.all {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #0DBF81;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* margin-top: 2rem; */
    margin: 0 auto;
    margin-top: 5rem;
}

/* skills */

#skills h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-left: 30rem;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    color: #FFF;
    font-family: Nunito;
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: 5rem;
}

.skill-bar {
    height: 20px;
    background-color: #0DBF81;
    border-radius: 5px;
}

/* contact */

#contact h2 {
    color: #232230;
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center; /* Center the heading on smaller screens */
}

.contact-form {
    max-width: 600px;
    margin: 0 auto; /* Center the form on the page */
}

.contact-form form {
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #0B0D21;
    color: #fff;
    border: 1px solid #0DBF81; /* Add border for better visibility */
}

.contact-form button {
    width: 100%; /* Make the button full width on smaller screens */
    background-color: #0DBF81;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add spacing between the form and the button */
}

/* footer */

.footer {
    background-color: #090B1A;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section.links.right {
    display: flex;
    justify-content: space-between;
}

.footer-section h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 15px;
}



.quick_links,
.services_links,
.contacts_footer {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.quick_links ul,
.services_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick_links a,
.services_links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
    transition: color 0.3s ease;
}

.quick_links a:hover,
.services_links a:hover {
    color: #0DBF81;
}

.contacts_footer {
    color: #fff;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.contacts_footer p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 10px; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-section.links.right {
        flex-direction: column;
        align-items: center;
    }

    .quick_links,
    .services_links,
    .contacts_footer {
        max-width: 100%; /* Adjust to take full width on smaller screens */
        margin-bottom: 20px;
    }
}


/* .footer-section {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.right {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer-section a:hover {
    color: #0DBF81;
} */


.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #888;
}

.text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-big {
    padding: 15px 30px;
}

/* responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-bottom: 1rem; /* Adjust spacing between logo and links on smaller screens */
    }

    .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 0;
        margin-bottom: 0.5rem; /* Adjust spacing between links on smaller screens */
    }

    /* hero section */

    .hero {
        display: flex;
        flex-direction: column-reverse; /* Reverse the order for smaller screens */
        align-items: center;
        text-align: center;
    }
    
    .hero-content {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .hero_img img {
        width: 100%; /* Make the image responsive */
        max-width: 500px; /* Set a maximum width to prevent excessive stretching */
    }
    
    .hero_text {
        padding: 4rem 0;
    }
    
    .social-links {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .social-links a {
        margin: 0 1rem; /* Adjust spacing between social icons */
    }
    
    /* about session */

    #about {
        text-align: center;
        padding: 50px 0;
    }

    #about h2{
        padding-left: 0;
        text-align: center;
    }
    
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about_img img {
        width: 100%; /* Make the image responsive */
        max-width: 300px; /* Set a maximum width to prevent excessive stretching */
    }
    
    .about_details {
        max-width: 600px;
        margin-top: 20px;
    }
    
    .about_details span {
        color: #0DBF81;
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }
    
    .about_details p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .about_details ul {
        text-align: left;
        padding-left: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    
    .about_details li {
        margin-bottom: 8px;
    }
    
    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        background-color: #0DBF81;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .cta-button:hover {
        background-color: #0DBF81;
    }

    /* services session */

    @media (max-width: 992px) {
        .services-content {
            flex-wrap: wrap;
        }
    
        .service_design,
        .service_ux,
        .service_graphics {
            width: 48%; /* Adjust based on your design */
            margin-bottom: 20px;
        }
    }
    
    @media (max-width: 768px) {
        .service_design,
        .service_ux,
        .service_graphics {
            width: 100%;
        }
    }
    
    /* skills */

    @media (max-width: 768px) {
        #skills h2 {
            padding-left: 0;
            text-align: center;

        }
    
        .skill-name {
            text-align: left;
            padding-left: 1px;
            font-size: 20px;
        }
    }

    /* portfolio */

    @media (max-width: 768px) {
        #portfolio h2 {
            color: #232230;
            font-family: Nunito;
            font-size: 62px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-align: center; /* Center the text on smaller screens */
            padding-left: 0; /* Remove left padding on smaller screens */
        }
        
        #portfolio img {
            width: 100%; /* Make the image responsive */
            max-width: 100%;
            height: auto;
        }
        
        .project {
            display: flex;
            flex-direction: column; /* Arrange projects in a column on smaller screens */
            align-items: center; /* Center projects on smaller screens */
            margin: 0 auto; /* Center the projects container */
            max-width: 800px; /* Limit the width for better readability */
        }
        
        .project_details {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center project details on smaller screens */
            text-align: center; /* Center text on smaller screens */
        }
        
        .project p,
        h3 {
            padding-top: 10px; /* Adjust spacing between text elements */
        }
        
        .all {
            display: block; /* Make the "View All" link a block element for better responsiveness */
            margin: 20px auto; /* Center the "View All" link */
        }

            .contact-form input,
            .contact-form textarea {
                width: calc(100% - 20px); /* Adjust width for smaller screens with a bit of margin */
            
        }


        /* footer */

        .footer-content {
            flex-direction: column;
            align-items: center;
        }

        /* .footer-section.links.right {
            display: flex;
            justify-content: space-between;
        } */
    
        .footer-section {
            max-width: 100%;
            text-align: center;
        }
    
        .footer-section:not(:last-child) {
            margin-bottom: 40px;
        }
        
    }
}
